/*========banner 1=======*/

.banner-img-1{
    width: 100%;
}

.banner-1 {
    margin-top: 114px ;
}

/*========group buy========*/

.group-buy {
    margin-top: 70px;
    text-align: center;

}

.tier-heading {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 5px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
}

.tier-list {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
}

.tier-item {
    text-align: center;
}

.tier-item img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.tier-item h3 {
    font-size: 18px;
    margin-top: 10px;
    text-transform: capitalize;
}

a{
    color: black;
    text-decoration: none;
}

/*===========banner 2==========*/

.banner-img-2 {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.banner-2 {
    padding:100px 100px 0 100px;
}

/*===========banner 3==========*/

.banner-img-3 {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner-3 {
    padding:100px 100px 0 100px;
    position: relative;
    margin-bottom: 10px;
}

/*=======product=======*/

.product-heading {
    font-size: 24px;
    margin-top: 10px;
    position: relative;
    margin-left: 100px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid #000; 
}

.product-extend {
    left: 0;
    font-size: 13px;
    position:relative;
    margin-top: -20px;
    text-align: center; 
    /* margin-right: 50px;  */
    margin-bottom: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: underline;
}

.product {
    margin: 0 auto;
}

.product-list {
    gap: 20px;
    padding: 0;
    display: grid;
    list-style: none;
    margin: 15px 130px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr); /* Ban đầu chia thành 4 cột */
}

.product-list li {
    padding: 0;
    text-align: center;
}

.product-list li:hover .product-buy {
    bottom: 0px;
}

.product-img {
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.product-display {
    display: block;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.1); /* Phóng to ảnh 10% khi hover */
}

.product-buy {
    width: 100%;
    bottom: -40px;
    opacity: 0.75;
    color: white;
    display: block;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    transition: 0.25s ease-in-out;
}

.product-name {
    display: block;
    font-size: 95%;
    margin-top: 10px;
    margin-bottom: 13px;
}

.name {
    color: black;
    text-decoration: none;
}

.product-price {
    font-weight: 600;
    margin-bottom: 25px;
    color: var(--emphasis-color);
}
